---
Language:        Cpp
BasedOnStyle:  Google
AlignAfterOpenBracket: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment
DerivePointerAlignment: false
NamespaceIndentation: All
FixNamespaceComments: false
...

