testchain
testcycle
testenumerate
testrange
testslice
testzip
testreverse
testrepeat
testfilter
testzip_longest
testdropwhile
testproduct
testpermutations
testcompress
testcombinations_with_replacement
