*.o
*.swp
testchain
testcycle
testenumerate
testrange
testslice
testzip
testreverse
testrepeat
testfilter
testzip_longest
testdropwhile
testproduct
testpermutations
testcompress
testcombinations_with_replacement
testtakewhile
testcombinations
testpowerset
testmoving_section
testimap
testfilterfalse
testcount
testgrouper
testcommand_chains
testgroupby
testsorted
testunique_justseen
testunique_everseen
.sconsign.dblite

